.App {
  text-align: center;
}
.purchases-block{
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
  padding: 30px 10px 10px 10px;
}
.total-spent{
  display: table;
  margin: 50px auto 0 auto;
  color: #ff1510;
  font-weight: bold;
}