.purchase-block{
    margin: 10px 140px 5px 140px;
    padding: 8px 0;
    background: antiquewhite;
}
.purchase-block:nth-child(odd) {
    background: #dedcdc;
}
h3{
    margin: 0;
    display: inline-block;
    font-style: italic;
    font-weight: normal;
}
.title{
    width: 50%;
    text-transform: capitalize;
    text-align: left;
}

.cost{
    width: 20%;
}